body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#st-main-container {
  width: 70vw;
  margin: 1rem auto;
}

.add-task-container {
  display: flex;
}

.add-task-container button, .add-task-container input {
  display: block;
}

.add-task-button {
  flex: 2;
}

.add-task-input {
  flex: 5;
  font-size: 2rem;
  padding: 5px 5px;
  border-radius: 5px;
  border: solid 1px #000;
}

.break-button-container {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

button {
  font-size: 2rem;
  outline: none;
  background-color: #3535f1;
  color: white;
  border: solid 1px #000;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #000;
  padding: 5px 10px;
}

button:active {
  box-shadow: none;
}


.controls-container button, .timer-container button {
  margin: .3rem  1rem .3rem 0;
}

.lower-container {
  display: flex;
  width: 70vw;
  margin: 1rem auto;
}

.finished-container {
  flex: 4;
  border: solid 1px #000;
  border-radius: 5px;
  padding: 1rem;
  margin-left: 1rem;
  box-shadow: 3px 3px 3px #4e4e4e;
}

.finished-container h2 {
  margin: 0;
  border-bottom: solid 2px #000;
}

.timer-container {
  flex: 3;
  border: solid 1px #000;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 3px 3px 3px #4e4e4e;
}

.finished-task-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.5rem;
}

.total-time {
  border-top: solid 2px #000;
  margin: 0;
  padding: 0;
  color: #3535f1;
}
.timer-controls {
  text-align: center;
}
.colon {
  font-size: 5rem;
  font-weight: bold;
}

.timer-display {
  text-align: center;
  margin-bottom: 5rem;
  

}

.minutes-display, .seconds-display {
  font-size: 5rem; 
  font-weight: bold; 
}

.task-name {
  text-align: center;
}

.finished-task-name {
  color: #1d5cd1;
}

.break-task {
  color: #3ab13a;
}